.bg-md-soc {
    background-image: url(../images/bg_soc.png);
    background-repeat: repeat;
}

.bg-md-white {
    background-color: #fff;
}

.bg-md-grey{
	background-color: #656565;
}

.bg-md-dark{
	background-color: #323232;
}

.bg-md-navy{
	background-color: #18016d;
}

/* Display */
.pst-md-relative {
    position: relative;
}

.pst-md-absolute {
    position: absolute;
}

.pst-md-fixed {
    position: fixed;
}

.d-md-none {
    display: none;
}

.d-md-block {
    display: block;
}

.d-md-flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.d-md-flex:before, .d-md-flex:after {
    display: none;
}

.flex-md-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.align-items-md-center {
    align-items: center;
}

.order-flex-md-0 {
    order: 0;
}

.order-flex-md-1st {
    order: 1;
}

.order-flex-md-2nd {
    order: 2;
}

.overflow-md-hidden {
    overflow: hidden;
}

/* Padding */
.p-md-auto {
    padding: auto;
}

.p-md-0 {
    padding: 0;
}

.p-md-1 {
    padding: 1px;
}

.p-md-2 {
    padding: 2px;
}

.p-md-3 {
    padding: 3px;
}

.p-md-4 {
    padding: 4px;
}

.p-md-5 {
    padding: 5px;
}
.p-md-75 {
    padding: 7.5px;
}

.p-md-10 {
    padding: 10px;
}

.p-md-15 {
    padding: 15px;
}

.p-md-20 {
    padding: 20px;
}

.p-md-25 {
    padding: 25px;
}

.p-md-30 {
    padding: 30px;
}

.px-md-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px-md-1 {
    padding-left: 1px;
    padding-right: 1px;
}
.px-md-2 {
    padding-left: 2px;
    padding-right: 2px;
}
.px-md-3 {
    padding-left: 3px;
    padding-right: 3px;
}
.px-md-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.px-md-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.px-md-75 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.px-md-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-md-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.px-md-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-md-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px-md-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.py-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py-md-1 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.py-md-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.py-md-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.py-md-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-md-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-md-75 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.py-md-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-md-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-md-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-md-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py-md-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pl-md-0 {
    padding-left: 0px;
}

.pl-md-1 {
    padding-left: 1px;
}

.pl-md-2 {
    padding-left: 2px;
}

.pl-md-3 {
    padding-left: 3px;
}

.pl-md-4 {
    padding-left: 4px;
}

.pl-md-5 {
    padding-left: 5px;
}
.pl-md-75 {
    padding-left: 7.5px;
}

.pl-md-10 {
    padding-left: 10px;
}

.pl-md-15 {
    padding-left: 15px;
}

.pl-md-20 {
    padding-left: 20px;
}

.pl-md-25 {
    padding-left: 25px;
}

.pl-md-30 {
    padding-left: 30px;
}

.pr-md-0 {
    padding-right: 0px;
}

.pr-md-1 {
    padding-right: 1px;
}

.pr-md-2 {
    padding-right: 2px;
}

.pr-md-3 {
    padding-right: 3px;
}

.pr-md-4 {
    padding-right: 4px;
}

.pr-md-5 {
    padding-right: 5px;
}
.pr-md-75 {
    padding-right: 7.5px;
}

.pr-md-10 {
    padding-right: 10px;
}

.pr-md-15 {
    padding-right: 15px;
}

.pr-md-20 {
    padding-right: 20px;
}

.pr-md-25 {
    padding-right: 25px;
}

.pr-md-30 {
    padding-right: 30px;
}

.pt-md-0 {
    padding-top: 0px;
}

.pt-md-1 {
    padding-top: 1px;
}

.pt-md-2 {
    padding-top: 2px;
}

.pt-md-3 {
    padding-top: 3px;
}

.pt-md-4 {
    padding-top: 4px;
}

.pt-md-5 {
    padding-top: 5px;
}
.pt-md-75 {
    padding-top: 7.5px;
}

.pt-md-10 {
    padding-top: 10px;
}

.pt-md-15 {
    padding-top: 15px;
}

.pt-md-20 {
    padding-top: 20px;
}

.pt-md-25 {
    padding-top: 25px;
}

.pt-md-30 {
    padding-top: 30px;
}

.pb-md-0 {
    padding-bottom: 0px;
}
.pb-md-1 {
    padding-bottom: 1px;
}
.pb-md-2 {
    padding-bottom: 2px;
}
.pb-md-3 {
    padding-bottom: 3px;
}
.pb-md-4 {
    padding-bottom: 4px;
}

.pb-md-5 {
    padding-bottom: 5px;
}
.pb-md-75 {
    padding-bottom: 7.5px;
}

.pb-md-10 {
    padding-bottom: 10px;
}

.pb-md-15 {
    padding-bottom: 15px;
}

.pb-md-20 {
    padding-bottom: 20px;
}

.pb-md-25 {
    padding-bottom: 25px;
}

.pb-md-30 {
    padding-bottom: 30px;
}

/* Margin */
.m-md-auto {
    margin: auto;
}

.m-md-0 {
    margin: 0;
}

.m-md-5 {
    margin: 5px;
}
.m-md-75 {
    margin: 7.5px;
}

.m-md-10 {
    margin: 10px;
}

.m-md-15 {
    margin: 15px;
}

.m-md-20 {
    margin: 20px;
}

.m-md-25 {
    margin: 25px;
}

.m-md-30 {
    margin: 30;
}

.mx-neg-md-30 {
    margin-left: -30px;
    margin-right: -30px;
}

.mx-neg-md-25 {
    margin-left: -25px;
    margin-right: -25px;
}

.mx-neg-md-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.mx-neg-md-15 {
    margin-left: -15px;
    margin-right: -15px;
}

.mx-neg-md-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.mx-neg-md-75 {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.mx-neg-md-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.mx-md-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx-md-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.mx-md-75 {
    margin-left: 7.5px;
    margin-right: 7.5px;
}
.mx-md-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-md-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.mx-md-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-md-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mx-md-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.my-md-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-md-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-md-75 {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.my-md-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-md-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-md-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-md-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.my-md-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ml-md-0 {
    margin-left: 0px;
}

.ml-md-5 {
    margin-left: 5px;
}
.ml-md-75 {
    margin-left: 7.5px;
}

.ml-md-10 {
    margin-left: 10px;
}

.ml-md-15 {
    margin-left: 15px;
}

.ml-md-20 {
    margin-left: 20px;
}

.ml-md-25 {
    margin-left: 25px;
}

.ml-md-30 {
    margin-left: 30px;
}

.mr-md-0 {
    margin-right: 0px;
}

.mr-md-5 {
    margin-right: 5px;
}
.mr-md-75 {
    margin-right: 7.5px;
}

.mr-md-10 {
    margin-right: 10px;
}

.mr-md-15 {
    margin-right: 15px;
}

.mr-md-20 {
    margin-right: 20px;
}

.mr-md-25 {
    margin-right: 25px;
}

.mr-md-30 {
    margin-right: 30px;
}

.mt-md-0 {
    margin-top: 0px;
}

.mt-md-5 {
    margin-top: 5px;
}
.mt-md-75 {
    margin-top: 7.5px;
}

.mt-md-10 {
    margin-top: 10px;
}

.mt-md-15 {
    margin-top: 15px;
}

.mt-md-20 {
    margin-top: 20px;
}

.mt-md-25 {
    margin-top: 25px;
}

.mt-md-30 {
    margin-top: 30px;
}

.mb-md-0 {
    margin-bottom: 0px;
}

.mb-md-5 {
    margin-bottom: 5px;
}

.mb-md-75 {
    margin-bottom: 7.5px;
}

.mb-md-10 {
    margin-bottom: 10px;
}

.mb-md-15 {
    margin-bottom: 15px;
}

.mb-md-20 {
    margin-bottom: 20px;
}

.mb-md-25 {
    margin-bottom: 25px;
}

.mb-md-30 {
    margin-bottom: 30px;
}

/* Width - Height */
.w--md-100 {
    width: 100%;
}

.h-md-100 {
    height: 100%;
}

/* TEXT */
.text-md-white {
    color: #fff;
}
.font-size-md-12px {
    font-size: 12px;
}
.font-size-md-13px {
    font-size: 13px;
}
.font-size-md-14px {
    font-size: 14px;
}

.font-size-md-15px {
    font-size: 15px;
}

.font-size-md-16px {
    font-size: 16px;
}

.font-size-md-17px {
    font-size: 17px;
}

.font-size-md-18px {
    font-size: 18px;
}

.font-size-md-19px {
    font-size: 19px;
}

.font-size-md-20px {
    font-size: 20px;
}

.font-size-md-21px {
    font-size: 21px;
}

.font-size-md-22px {
    font-size: 22px;
}

.font-size-md-23px {
    font-size: 23px;
}

.font-size-md-24px {
    font-size: 24px;
}

.font-size-md-25px {
    font-size: 25px;
}

.font-size-md-26px {
    font-size: 26px;
}

.font-size-md-27px {
    font-size: 27px;
}

.font-size-md-28px {
    font-size: 28px;
}
.font-size-md-29px {
    font-size: 29px;
}
.font-size-md-30px {
    font-size: 30px;
}

.font-weight-md-bold {
    font-weight: bold;
}

.text-color-md-white {
    color: #fff;
}

/* List */
.list-style-type-md-none {
    list-style-type: none;
}

/* Border */
.border-radius-md-1px {
    border-radius: 1px;
}

.border-radius-md-2px {
    border-radius: 2px;
}

.border-radius-md-3px {
    border-radius: 3px;
}

.border-radius-md-4px {
    border-radius: 4px;
}

.border-radius-md-5px {
    border-radius: 5px;
}

.border-radius-md-6px {
    border-radius: 6px;
}

.border-radius-md-7px {
    border-radius: 7px;
}

.border-radius-md-8px {
    border-radius: 8px;
}

.border-radius-md-9px {
    border-radius: 9px;
}

.border-radius-md-10px {
    border-radius: 10px;
}

/* Image */
.img-md-fbox{
	position: relative;
	height: 0;
	overflow: hidden;
	background: #fff;
}

.ratio-md-64{
	padding-top: calc(2/3*100%);
}

.ratio-md-43{
	padding-top: calc(3/4*100%);
}

.ratio-md-11{
	padding-top: 100%;
}

.img--md-fbox img{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
